/* Font styling */
h1, h2, a, p{
    font-family: Helvetica, Arial, Sans-Serif;
}

 /* Title styling */
h1, h2 
{
    text-align: center;
    background-color: black;
    color:white;
    width: 30%;
    margin:auto;
    margin-top: 10px;
}

 /* Paragraph styling */
p
{
    font-size: 20px;
}

 /* Link styling */
a:link 
{
    font-weight: bold;
}

a:visited
{
    color:green;
}

 /* Images styling */
img
{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

 /* Body styling */
.center 
{
    margin: auto;
    width: 50%;
    padding: 10px;
}